## Version control
.git/
package-lock.json

## Dynamic/Unversionable
dist/
node_modules/
*.bak
*.old
*.swp
*.tmp

## IDEs
.vscode/

## System files
.directory
.DS_Store
desktop.ini
thumbs.db
.fuse_hidden*

# Keep .keep files
!.keep
